.tiberius {

}

.about{
  font-style: italic;
  font-size: large;
}

.card-body1 {
  background-color: skyblue;
  border-color: black;
  border: 2px solid black;
}

body {
  background-color: darkgrey;
}

.jumbotron {
  background-color: skyblue;
  border: black;
  border: 2px solid black;
  margin-top: 20px;
}
.me {
  font-size: small;
}