.tiberius {

}

.about{
  font-style: italic;
  font-size: large;
}

.card-body2 {
  background-color: skyblue;
  border-color: black;
  border: 2px solid black;
  width: 30%;
  padding: 10px;
  margin: 1rem;
  float: right;
}

body {
  background-color: darkgrey;
}

.card-body {
  background-color: plum;
  border: 2px solid black;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  float: left;
}
.me {

  font-size: medium;
}


.highlight {
  font-size: large;
  font-style: italic;
  color: yellow;
}



.move {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }
}
.card-body3 {
  background-color: rgb(131, 185, 106);
  border: 2px solid rgb(24, 23, 23);
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  left: 41%;
  top: 0;
  width: 360px;
  padding: 10px;
}
.card-title {
  text-align: center;
  color: white;
}

.traveltitle {
  text-align: center;
  font-size: larger;
  color: white;
}

.card-body4 {
  background-color: black;
  border: 2px solid black;
  left: 10%;
  width: 20%;
  bottom: 400px;
}
