.about{
  font-style: italic;
  font-size: large;
}
.card-body2 {
  background-color: skyblue;
  border-color: black;
  border: 2px solid black;
  width: 30%;
  padding: 10px;
  margin: 1rem;
  float: right;
  box-shadow: 10px 10px;
}

body {
  background-color: darkgrey;
}

.card-body {
  background-color: plum;
  border: 2px solid black;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  float: left;
  box-shadow: 10px 10px;
}
.me {

  font-size: medium;
}


.highlight {
  font-size: large;
  font-style: italic;
  color: yellow;
}



.move {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 200%;
    margin-left: 25%;
    width: 150%;
  }
}
.travelmove {
  animation-duration: 3s;
  animation-name: slidein;
}

.card-body3 {
  background-color: rgb(131, 185, 106);
  border: 2px solid rgb(24, 23, 23);
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  left: 43%;
  top: 0;
  width: 360px;
  padding: 10px;
  box-shadow: 10px 10px;
}
.card-title {
  text-align: center;
  color: white;
  background-image: linear-gradient(blue,pink,plum,skyblue);
  text-shadow: 2px 2px red;
}

.traveltitle {
  text-align: center;
  font-size: larger;
  color: white;
}

.card-body4 {
  position: absolute;
  background-image: linear-gradient(red,yellow);
  border: 2px solid white;
  width: 19%;
  bottom: 4.8%;
  height: 400px;
  left: 60%;
  box-shadow: 10px 10px;
}

.card-text4 {
  color: black;
}

#borderimg {
  border: 10px solid black;
  padding: 5px;
  border-image: url(img/border.png) 33% repeat;
  border-style: solid;
}

